<div class="award-main-container">
  <h4>
    AWARDS
  </h4>
  <div class="award">
    {% for item in module.field_group %}
      <div class="award__div">
        <div>
           <img class="award__leaf" src="https://21115950.fs1.hubspotusercontent-na1.net/hubfs/21115950/Siemba%20Theme/Images/Leaf%20Left%20n.png" alt="left leaf">
           <img class="award__logo" src="{{ item.award_img.src }}">
           <img class="award__leaf" src="https://21115950.fs1.hubspotusercontent-na1.net/hubfs/21115950/Siemba%20Theme/Images/Leaf%20right%20n.png" alt="right leaf">
        </div>   
        <p>
          {{ item.award_year }}
        </p>
      </div>
    {% endfor %}
  </div>
</div>
