.award-main-container{
  background:linear-gradient(90deg, rgba(19, 154, 159,1.0) 1.53%, rgba(34, 142, 188,1.0) 101.83%, rgba(44, 161, 206,1.0) 101.84%);
  box-shadow:0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);
  border-radius:20px;
  width:82%;
  margin: 0 auto;
  margin-bottom:3rem;
}
  .award-main-container h4{
    font-weight:700;
    padding-top:2rem;
    text-align:center;
    color:white;
  }
  .award{
    display:flex;
    justify-content:space-around;
    padding:2rem 0;
  }
.award__leaf{
  height:2.7rem;
}
  .award__div{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
.award__div div{
  margin-bottom: 1rem;
}

.award__div p{
  color:white;
  font-size: 17px;
}
  
  .award__logo{
    width:2.6rem;
  }

@media screen and (max-width: 1024px) and (min-width: 771px) {
  .award__div{
    gap: 1rem;
  }
  .award-main-container h4{
    font-size:20px;
    margin-bottom:45px;
  }
  .award__logo{
    width:4rem;
    margin:0 -12px;
  }
  .award__div p{
    font-size:16px;
  }
}

@media screen and (max-width: 770px) and (min-width: 430px) {
  .award-main-container{
    margin-top:4rem;
    width:88%;
    padding: 0 50px 30px 50px;
  }
  .award-main-container h4{
    font-size:20px;
    margin-bottom:45px;
  }
  .award{
    padding-top:0;
    flex-wrap:wrap;
  }
   .award__logo{
    width:4rem;
    margin:0 -12px;
  }
  .award__div{
    gap: 1rem;
  }
  .award__div p{
    font-size:16px;
  }
}


@media screen and (max-width: 430px) {
  .award-main-container{
    margin-top: 3rem;
    margin-bottom: 2rem;
    width:93%;
  }
  .award-main-container h4{
    font-size:18px;
  }
  .award{
    display: grid;
    gap: 1rem;
  }
  .award__div p{
    font-size:14px;
    margin-top:1rem;
  }
  .award__logo{
    width:4rem;
    margin:0 -12px;
  }
}
