.client-slider-main-container{
  background:linear-gradient(90deg, rgba(34, 142, 188,1.0) 1.53%, rgba(49, 168, 214,1.0) 48.34%, rgba(19, 154, 159, 1.0) 101.83%);
  padding-bottom: 80px;
}

.client-slider-secondary-container{
  margin:0 3rem;
}

.client-slider h2{
  text-align:center;
  padding: 2rem;
  font-size:48px;
  color:white;
}

.client-slider__img-container{
  display:grid !important;
  grid-template-columns:repeat(2,auto);
  align-items:center;
  gap:1rem;
  padding:0 2rem;
}

.client-slider__current-avatar{
  width:8.9rem;
  height:8.9rem;
  border-radius:50%;
  position:relative;
  z-index:11;
}

.client-slider__description,
.client-slider__author-name,
.client-slider__author-designation{
  color:white;
}

.client-slider__author-name{
  margin:0;
  font-size: 22px;
  font-weight: 600;
}
@media  screen and (max-width: 1024px) and (min-width: 771px){
  .client-slider-main-container{
    padding-bottom:80px;
  }
  .client-slider h2{
    font-size:40px;
  }
  .client-slider__description,
  .client-slider__author-name{
    font-size:18px;
  }
  
  .client-slider__author-name{
    font-weight:600;
  }
  
  .client-slider__author-designation{
    font-size:16px;
    font-weight:400;
  }
}

@media  screen and (max-width: 430px){
  .client-slider{
    padding-bottom:80px;
  }
  .client-slider__container{
    margin: 0 2rem;
  }
  .client-slider-secondary-container{
    margin:0 1rem;
  }
  .client-slider h2{
    font-size:32px;
    padding:2rem 0;
  }
  .client-slider__img-container{
    display:flex !important;
    flex-direction:column;
    padding:0;
  }
  
  .client-slider__img-container .client-slider__previous-avatar{
    display:none;
  }
  .client-slider__img-container div p{
    font-size:16px;
  }
  .client-slider__img-container div h4{
    font-size:16px;
    font-weight:600;
  }
  .client-slider__img-container div h5{
    font-size:14px;
  }
}

/*                               Circle */

.circle{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:black;
  width:9.8rem;
  height: 9.8rem;
  border-radius: 50%;
  background: conic-gradient(white 3.6deg, darkblue 0deg);
    
}
.inner-circle{
  position:absolute;
  width:9.6rem;
  height: 9.6rem;
  border-radius: 50%;
  background: rgba(34,142,188,1.0);
}