<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />  

<div class="client-slider-main-container">
  <div class="client-slider-secondary-container">
    <div class="client-slider">
      <h2>
        {{ module.heading_h2 }}
      </h2>
        <div class="client-slider__container">
          
            {% for item in module.client_slider %}
          <div class="client-slider__img-container">
<!--             <img class="client-slider__previous-avatar" src="{{ item.author_avatar_small.src }}" alt="small avatar"> -->
            <div className="container">
              <div class="circle">
                <div class="inner-circle">
                </div>
                <img class="client-slider__current-avatar" src="{{ item.author_avatar_large.src }}" alt="large avatar">
              </div>
            </div>            <div>
              <p class="client-slider__description">
                {{ item.text }}
              </p>
              <h4 class="client-slider__author-name">
                {{ item.author_name }}
              </h4>
              <h5 class="client-slider__author-designation">
                {{ item.author_designation }}
              </h5>
            </div>
          </div>
            {% endfor %}
        </div>
    </div>
  </div>
</div>


{% require_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $('.client-slider__container').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 4000,
});
</script>
{% end_require_js %}