.dnd-section .dnd-column{
  padding:0;
}

.slider-main-container{
  position:relative;
  background:linear-gradient(90deg, rgba(34, 142, 188,1.0) 1.53%, rgba(49, 168, 214,1.0) 48.34%, rgba(19, 154, 159, 1.0) 101.83%);
  margin:2rem 0 0 0;
  padding-bottom:16rem;
}

.slider-secondary-container{
  max-width:870px;
  padding-top:2rem;
  text-align:center;
  margin:1.5rem auto;
  color:white;
}

.slider-secondary-container h2{
  font-size:40px;
  color:white;
}

.slider-secondary-container p{
  font-size:20px;
}

.slider-main-card{
  display:flex;
  justify-content:center;
}
.slider{
  width:76%;
  padding;1rem 2rem 0 2rem;
}

.slider__container{
  cursor:grab;
  background:linear-gradient(180deg, #FAFDFE 0%, #FFFFFF 42.5%, #DEFEFF 99.99%);
  border-radius:10px;
  display:flex !important;
  flex-direction:column;
  align-items:center;
  margin:0 1rem;
  padding:20px 50px 38px;
}

.slider__container h3{
  font-size:32px;
}

.slider__container ul{
  padding-top:.8rem;
}

ul{
  padding:0;
}
ul,
li{
  list-style:none !important;
}

.slider__li{
  display:flex;
  margin-bottom:1rem;
  font-weight:700;
}

.slider__icon{
  width:1rem;
  margin-top:.2rem;
}

.slider__li div img{
  margin-right:.5rem;
}

.slider__li p{
  font-size:18px;
  font-weight:700;
}

.slider__img{
  width:16vw;
}

.slick-prev:before{
  margin-left:-28px;
}

.slick-next:before, .slick-prev:before{
  font-size:2rem !important;
}

.hello{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: #fff;
    transform: skewY(-3deg);
}

@media screen and (max-width: 1024px) and (min-width: 771px) {
  .slider-secondary-container{
    max-width:826px;
    margin-bottom: 35px;
  }
  .slider__container ul{
    margin-bottom: -0.6rem !important;
  }
}

@media screen and (max-width: 770px) and (min-width: 430px) {
  .slider-secondary-container h2{
    font-size:36px;
  }
  .slider{
    width:80%;
  }
  .slider__container{
    padding:20px 25px 38px;
  }
  .slider__li img{
    width:.9rem;
  }
  .slider__li p{
    font-size:16px;
  }
}

@media screen and (max-width: 426px){
  .slider{
    width:76%;
    padding;1rem 2rem 0 2rem;
  }
  .slider-secondary-container{
    padding:2rem 1rem 0rem 1rem;
  }
  .slider-secondary-container h2{
    font-size:32px;
  }
  .slider-secondary-container p{
    font-size:16px;
  }
  .slider__img {
    width: 37vw;
  }
  .slider__container{
    padding: 20px 21px 38px;
  }
}