<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />  

{% require_css %}
  <style>
        {% scope_css %}
        .container{
          background-color:{{ module.style.container_bgcolor.color }};
        }
        @media screen and (max-width: 768px) {
          .slider{
            {{ module.style.slider_bgimage.css }};
          }
        }
      {%end_scope_css%}
  </style>
{% end_require_css %}
<div class="slider-main-container">
  <div class="slider-secondary-container">
    <h2>
      {{ module.heading_h2 }}
    </h2>
    <p>
      {{ module.para }}
  </div>
<div class="slider-main-card">
  <div class="slider">
    {% for item in module.slider %}
      <div class="slider__container" id="slick-slider">
        <h3>
            {{ item.heading_h3 }}
        </h3>
        <img class="slider__img" src="{{ item.slider_img.src }}" alt="slider img">
        <ul>
          {% for item2 in item.item_list %}
            <li class="slider__li">
              <div>
                <img class="slider__icon" src="{{ item2.slider_icon.src }}" alt="icon">
              </div>
                <p>{{ item2.slider_points }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
  <div class="hello">
  </div>
</div>


{% require_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('.slider').slick({
    dots: false,
    infinite: true,
    speed: 300,
    slidesToShow: 2,
    slidesToScroll: 2,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          infinite: true,
          dots: false,
          arrows:true,
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows:true,
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows:true,
        }
      }
    ]
  });
</script>
{% end_require_js %}
