.siemba-form{
  background:linear-gradient(90deg, rgba(34, 142, 188,1.0) 1.53%, rgba(49, 168, 214,1.0) 48.34%, rgba(19, 154, 159, 1.0) 101.83%);
  margin-bottom:-120px;
}

.siemba-form__heading{
  width:60%;
  margin:0 auto;
  display:grid;
  justify-content:center;
  padding-top: 2.3rem;
}

.siemba-form__heading h2{
  text-align:center;
  font-size: 38px;
  color:white;
}

.siemba-form__heading p{
  color:white;
}

.siemba-form-tag form{
  border-radius:15.4651px;
  padding:45px 50px;
  width:66%;
  background-color:white;
  margin: 0 auto;
  position:relative;
  z-index:1;
  box-shadow:0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);
}

.siemba-form-tag input,
.siemba-form-tag textarea{
  border-top:none !important;
  border-left:none !important;
  border-right:none !important;
  border-bottom:1px solid #C4C4C4;
  outline:none;
}

.siemba-form-tag form input[type=email]{
  border-radius:0;
  height:auto;
}

div.actions{
  width:fit-content;
  margin:auto;
}

.siemba-form-tag > form .hs-button, form input[type=submit] {
  position:static;
  margin:  auto;
}

.siemba-form-tag form input[type=submit] {
  background-color:#12AFB8;
   color: white;
}

.siemba-form-tag form input[type=email]{
  padding-right:0;
}

.siemba-form-tag form input[type=text],
  .siemba-form-tag form input[type=email],
  .siemba-form-tag form input[type=tel],
  .siemba-form-tag form textarea{
    padding-left:0;
  }

/* #ff .hs-form-4f573d63-c44e-4b0b-80de-d65cd07bb7e9_e688d8c7-6e25-4f96-a8a9-36557b60bed8 fieldset.form-columns-1 .hs-input{
  width:100% !important;
} */

@media screen and (max-width: 1025px) and (min-width: 771px) {
  .siemba-form__heading p{
    font-size:20px;
  }
  .siemba-form-tag form{
    width:83%;
  }
  .siemba-form-tag form input[type=submit] {
    font-size:18px !important;
    padding:12px 30px !important;
    font-weight:600;
  }
}

@media screen and (max-width: 770px) {
  .siemba-form-tag form{
    width:87%;
  }
  .siemba-form__heading{
    width:78%;
  }
  .siemba-form__heading p{
    font-size:20px;
    text-align:center;
  }
  .siemba-form-tag form input[type=text],
  .siemba-form-tag form input[type=email],
  .siemba-form-tag form input[type=tel],
  .siemba-form-tag form textarea{
    font-size:14px;
  }
  .siemba-form-tag form input[type=submit] {
    font-size:18px !important;
    padding:12px 30px !important;
    font-weight:600;
  }
}

@media screen and (max-width: 430px) {
  .siemba-form__heading {
    width: 87%;
  }
  .siemba-form-tag form {
    width: 93%;
    padding: 45px 33px;
  }
  .siemba-form__heading h2{
    font-size:32px;
  }
  .siemba-form__heading p{
    font-size:18px;
  }
  .siemba-form-tag form input[type=email], 
  .siemba-form-tag form input[type=tel], 
  .siemba-form-tag form input[type=text], 
  .siemba-form-tag form textarea {
    font-size: 13px;
  }
}