<div class="siemba-form">
  <div class="siemba-form__heading">
    <h2>
      {{ module.siemba_form.heading_h2 }}
    </h2>
    <p>
      {{ module.siemba_form.text }}
    </p>
  </div>
  <div class="siemba-form-tag">
    {% form
      form_to_use="{{ module.siemba_form.form_field.form_id }}"
      response_response_type="{{ module.siemba_form.form_field.response_type }}"
      response_message="{{ module.siemba_form.form_field.message }}"
      response_redirect_id="{{ module.siemba_form.form_field.redirect_id }}"
      response_redirect_url="{{module.siemba_form.form_field.redirect_url}}"
      gotowebinar_webinar_key="{{ module.siemba_form.form_field.gotowebinar_webinar_key }}"
    %}
  </div>
</div>