.tested-module{
   display:grid;
   grid-template-columns: repeat(2,50%);
   margin: 4rem auto; 
   max-width:82%;
}

.tested-module__text h2 span{
  color:#228EBC;
}

.tested-module__text p{
  font-size:18px;
}

.tested-module__img img{
  width:90%;
  float:right;
}

@media screen and (max-width: 1024px) and (min-width: 771px) {
  .tested-module__text h2{
    font-size:40px;
  }
}

@media screen and (max-width: 770px) {
  .tested-module{
    display: inherit;
    max-width:88%;
  }
  .tested-module__text{
    padding-bottom:3rem;
  }
  .tested-module__text h2{
    font-size:36px;
  }
  .tested-module__img img{
    width:100%;
  }
}


@media screen and (max-width: 430px) {
  .tested-module__text h2{
    font-size:32px;
  }
}
