<div class="tested-module">
  {% for item in module.field_group %}
    <div class="tested-module__container">
      {% if item.module_text_appear %}
        <div class="tested-module__text">
          <h2>
            {{ item.module_text.heading_h2 }} <span>{{ item.module_text.heading_h2_span }}</span>
          </h2>
          <p>
            {{ item.module_text.text }}
          </p>
        </div>
      {% endif %}
      {% if item.img_appear %}
        <div class="tested-module__img">
           <img src="{{ item.image_field.src }}" alt="img">
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>