.siembs-card{
  display:grid;
  grid-template-columns: 48% 48%;
  align-items: center;
  justify-content:space-between;
  padding:0 6rem;
  margin-bottom:50px;
}

.siembs-card__container{
  margin:1.2rem 0;
}

.siembs-card__text-div h5{
  display:inline-block;
  background-color:#F6F9FC;
  border-radius: 6px;
  padding: 5px 10px;
}

.siembs-card__img-div img{
  width:100%;
}

@media screen and (max-width: 1024px) and (min-width: 771px) {
  .siembs-card{
    grid-column-gap: 2rem;
    grid-template-columns: 50% 50%;
  }
  .siembs-card__text-div h3{
    font-size:30px;
  }
  .siembs-card__text-div p{
    font-size:20px;
  }
  .siembs-card__img-div{
    width:110%;
  }
}

@media screen and (max-width: 770px) and (min-width: 430px) {
  .siembs-card{
    display:flex;
    flex-direction:column;
    padding:0 2rem;
    margin-bottom:0;
  }
  .siembs-card:nth-child(even){
    border:2px solid red;
    display:flex;
    flex-direction:column;
  }
  .siembs-card__img-div img{
    width:30rem;
  }
}

@media screen and (max-width: 429px) {
  .siembs-card{
    display:flex;
    flex-direction:column;
    padding:0;
    margin-bottom:0;
  }
  .siembs-card__container{
    margin:1.2rem 16px;
  }
  .siembs-card__text-div{
    margin-top:-58px;
  }
  .siembs-card__text-div h3{
    font-size:26px;
  }
  .siembs-card__text-div p{
    font-size:16px;
  }
}