{% if module.card_appear %}
<div class="siembs-card">
  {% for item in module.card %}
    <div class="siembs-card__container">
        {% if item.card_text_appear %}
          <div class="siembs-card__text-div"> 
            <h5>
                {{ item.card_text.heading_h5 }}
            </h5>
            <h3>
                {{ item.card_text.heading_h3 }}
            </h3>
            <p>
                {{ item.card_text.paragraph }}
            </p>
          </div>
      {% endif %}
      {% if item.img_appear %}
        <div class="siembs-card__img-div">
          <img src="{{ item.image.src }}">
        </div>
      {% endif %}
    </div>
  {% endfor %}
  </div>
{% endif %}
