<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
  screenshotPath: ../images/template-previews/landing-page.png
-->
{% extends "./layouts/base.html" %}

{% block header %}
  {% global_partial path="/siemba clone/templates/partials/header.html" %}
{% endblock header %}

{% block body %}

  {# Banner #}
<!-- <div>
 {# {% module "module_166555979863613" path='/siemba-clone/modules/banner', label="banner" %} #}
</div>

  {# Siemba Features #}
<div>
 {# {% module "module_16655726311694" path='/siemba-clone/modules/features', label="features" %} #}
</div>

<div>
{#  {% module "module_16655767728943" path='/siemba-clone/modules/siemba card', label="siemba card" %} #}
</div> -->


{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--landing-page"
%}
   
<!--      Banner -->
      {% dnd_section
            vertical_alignment="TOP"
          %}
        {% dnd_module
          path="/siemba clone/modules/banner.module",
        %}
        {% end_dnd_module %} 
      {% end_dnd_section %} 

<!--      Features -->
    {% dnd_section
        vertical_alignment="TOP"
      %}
      {% dnd_module
        path="/siemba clone/modules/features.module",
      %} 
      {% end_dnd_module %}  
   {% end_dnd_section %}

<!--       Card -->
     {% dnd_section
        vertical_alignment="TOP"
      %}
      {% dnd_module
        path="/siemba clone/modules/siemba card.module",
      %}  
      {% end_dnd_module %}  
    {% end_dnd_section %}

<!--       Slider -->
     {% dnd_section
        vertical_alignment="TOP"
      %}
      {% dnd_module
        path="/siemba clone/modules/slider.module",
      %}  
      {% end_dnd_module %}  
    {% end_dnd_section %}

<!--       Book Demo -->
     {% dnd_section
        vertical_alignment="TOP"
      %}
      {% dnd_module
        path="/siemba clone/modules/book demo.module",
      %}  
      {% end_dnd_module %}  
    {% end_dnd_section %}

<!--       Client Slider -->
     {% dnd_section
        vertical_alignment="TOP"
      %}
      {% dnd_module
        path="/siemba clone/modules/client slider.module",
      %}  
      {% end_dnd_module %}  
    {% end_dnd_section %}

<!--       Tested Module -->
     {% dnd_section
        vertical_alignment="TOP"
      %}
      {% dnd_module
        path="/siemba clone/modules/tested module.module",
      %}  
      {% end_dnd_module %}  
    {% end_dnd_section %}

<!--       Award Module -->
     {% dnd_section
        vertical_alignment="TOP"
      %}
      {% dnd_module
        path="/siemba clone/modules/awards.module",
      %}  
      {% end_dnd_module %}  
    {% end_dnd_section %}

<!--       Form -->
     {% dnd_section
        vertical_alignment="TOP"
      %}
      {% dnd_module
        path="/siemba clone/modules/siemba form.module",
      %}  
      {% end_dnd_module %}  
    {% end_dnd_section %}

<!--       footer -->
     {% dnd_section
        vertical_alignment="TOP"
      %}
      {% dnd_module
        path="/siemba clone/modules/footer.module",
      %}  
      {% end_dnd_module %}  
    {% end_dnd_section %}


{% end_dnd_area %}
{% endblock body %}

{% block footer %}
{% endblock footer %}
