.features{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding: 2rem 5.2rem;
}

.features h2 span{
  display:none;
}

/* .features h2 span:nth-child(1){
  display:inline;
  color:#228EBC;
} */

.features p{
  text-align:center;
}

.features h4{
  color:#12AFB8;
  font-weight:700;
}

@media screen and (max-width: 1024px) {
  .features{
    padding:2rem 3.5rem;
  }
  .features h2{
    font-size:40px;
  }
  
  .features h4,
  .features p{
    font-size:20px;
  }
}

@media screen and (max-width: 770px) {
  .features{
    padding:2rem 2rem 0 2rem;
  }
  .features h2{
    font-size:36px;
  }
  .features h4,
  .features p{
    text-align:center;
    font-size:20px;
  }
}

@media screen and (max-width: 426px) { 
  .features{
    padding:2rem 12px 0;
  }
  .features h2{
    font-size:32px;
    text-align:center;
  }
  .features p{
    font-size:16px;
  }
  .features h4{
    font-size:18px;
  }
}