{% require_css %}
  <style>
        {% scope_css %}
            .features h2 span:nth-child(1){
              display:inline;
              color:#228EBC;
            }
        {%end_scope_css%}
  </style>
{% end_require_css %}

<div class="features-container">
  {% if module.feature_appear %}
    <div class="features">
      <h2>
        {{ module.features.heading }}
        {% for item in module.features.feature_text %}
           <span>{{ item }}</span>
        {% endfor %}
      </h2>
      <p>
         {{ module.features.text }}
      </p>
      <h4>
        {{ module.features.heading_h4 }}
      </h4>
    </div>
  {% endif %}
</div>

{% require_js %}
<script>
//   let value=0
//   let progress = setInterval(()=>{
//     value++; 
//   if (value == 3){
//      value=0
//   }
//   },3000)
</script>
{% end_require_js %}
