<div class="demo-container">
  <div class="demo-container__text">
    <h3>
      {{ module.book_demo.heading_h3 }}
    </h3>
    <p>
      {{ module.book_demo.help_text }}
    </p>
  </div>
  <div class="demo-container__form">
    {% form
      form_to_use="{{ module.book_demo.form_field.form_id }}"
      response_response_type="{{ module.book_demo.form_field.response_type }}"
      response_message="{{ module.book_demo.form_field.message }}"
      response_redirect_id="{{ module.book_demo.form_field.redirect_id }}"
      response_redirect_url="{{module.book_demo.form_field.redirect_url}}"
      gotowebinar_webinar_key="{{ module.book_demo.form_field.gotowebinar_webinar_key }}"
    %}
  </div>
</div>