.demo-container{
  position: relative;
  z-index: 2;
  width:75vw;
  margin:auto;
  margin-top:-255px;
  padding:35px;
  border-radius:16px;
  background-color:rgba(255, 255, 255,1.0);
  box-shadow:0px 1px 3px rgb(0 0 0 / 20%);
}

.demo-container__text h3{
  font-size:30px;
  text-align:center;
}

.demo-container__text p{
  font-size:20px;
  text-align:center;
}

.demo-container__form{
  display:flex;
  justify-content:center;
}

.demo-container__form form{
  position:relative;
  font-size:18px;
  width:30rem;
}

.demo-container__form form .hs-button, form input[type=submit]{
  position:absolute;
  top:0;
  right:0;
  width:fit-content;
  background-color:#12AFB8;
  color:white;
  font-weight:600;
  border:0;
}

@media screen and (max-width: 1024px) and (min-width: 771px) {
  .demo-container{
    width:84vw;
  }
}

@media screen and (max-width: 770px) and (min-width: 430px) {
  .demo-container{
    width:88vw;
    padding-bottom:0;
  }
  .demo-container__form form{
    width:27rem;
  }
}

@media screen and (max-width: 430px) {
  .demo-container{
    width:93vw;
    padding:35px 26px;
  }
  .demo-container__text h3{
    font-size:26px;
  }
  .demo-container__text p{
    font-size:16px;
  }
  .demo-container__form form input[type=email]{
    width:87%;
    margin-left:1rem;
    padding-right:0;
  }
  .demo-container__form form .hs-button, form input[type=submit]{
    margin-top:-10px;
  }
  .banner__email form .hs-button, form input[type=submit],
  .demo-container__form form .hs-button, form input[type=submit]{
    position:relative;
    right:57%;
    padding: 12px 30px !important;
  }
  .banner__email form .hs-button, form input[type=submit]{
    right: 63%;
    top: -16px;
  }
  .demo-container__form form{
    width:95vw;
  }
}

@media screen and (max-width: 376px) {
   .demo-container__form form .hs-button, form input[type=submit]{
    right:44%;
  }
   .banner__email form .hs-button, form input[type=submit]{
    right: 50%;
  }
}

@media screen and (max-width: 321px) {
   .demo-container__form form .hs-button, form input[type=submit]{
    right:34%;
  }
  .banner__email form .hs-button, form input[type=submit]{
    right: 35%;
  }
}