body {
  line-height: 1.3;
  letter-spacing: 0.2px;
  overflow-wrap: break-word;
  margin:0;
  padding:0;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

/* Paragraphs */

p {
/*   font-size: 1rem; */
  margin: 0 0 10px;
}

/* Anchors */

a {
  outline: none;
  text-decoration: none !important;
  cursor: pointer;
  vertical-align: middle;
  max-width: 100% !important;
  white-space: normal !important;
  display: inline-block;
  transition: all ease-in-out .3s;
}

/* Headings */

h1,
h2,
h4{
  margin: 0 0 20px;
}

h1,h2,h3{
  line-height: 1.3
}

h1{
  letter-spacing: -0.015em;
}

h2,h3,h5{
  letter-spacing: -0.005em;
}
h3{
  margin: 0 0 16px;
}
h5 {
  margin: 0 0 14px;
  line-height: 24px;
}

/* Lists */

ul,
ol {
  margin: 0 0 1.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Code blocks */

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid;
  margin: 0 0 1.4rem;
  padding-left: 0.7rem;
}

/* Horizontal rules */

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

/* Image alt text */

img {
  font-size: 0.583rem;
  word-break: normal;
}
