.footer{
  background-color:white;
}
.footer-container{
  width:80%;
  margin:0 auto;
  padding:202px 0 25px 0;
}

.footer-container__upside-link{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin-bottom:-1rem;
}
.footer-container__upside-link ul{
  display:flex;
}
.footer-container__upside-link ul li a{
  font-size:18px;
  margin-right:35px;
  font-weight:600;
  font-size:black;
  color:rgba(0, 0, 0, 0.6);
  margin-bottom:10px;
}
.footer-container__social-media-icon a{
  width:1rem;
  height:2rem;
}

.footer-container__policy-link li a{
  color:#425b76;
}

.footer-container__downside-link{
  display:flex;
  flex-wrap:wrap;
  gap:3rem;
  align-items:center;
  border-top:1px solid;
  padding-top:1.2rem;
}
.footer-container__contact-div{
  display:flex;
  gap:1.3rem;
}
.footer-container__downside-link img{
  width:6.8rem;
}
.footer-container__downside-link ul{
  display:flex;
  margin: auto 0;
}
.footer-container__downside-link ul li a{
  font-size: 16px;
}

.footer-container__downside-link p{
  font-size:15px;
  margin: auto 0;
}

.footer-container__mail a svg,
.footer-container__phone-number svg{
  width:.7rem;
}

.verticle-line{
  background-color:black;
  width:1px;
  height:.8rem;
  margin:.4rem 12px 0 12px; 
}

.footer-container__phone-number a,
.footer-container__mail a,
.footer-container__social-media-icon a icon{
  color:#12AFB8;
}

@media screen and (max-width: 1025px) and (min-width: 770px) {
  .footer-container__downside-link{
    gap:1rem;
  }
  .footer-container{
    width:85%;
  }
}


@media screen and (max-width: 770px) and (min-width: 430px) {
  .footer-container__upside-link{
    display:grid;
  }
  .footer-container__downside-link{
    
    display:grid;
    gap:0;
  }
  .footer-container__contact-div{
    display:block;
  }
}

@media screen and (max-width: 426px){
  .footer-container{
    width:93%;
  }
  .footer-container__upside-link,
  .footer-container__upside-link ul:nth-child(1){
    display:grid !important;
  }
  .footer-container__mail{
    padding-bottom:3px;
  }
  .footer-container__downside-link{
    gap:0;
  }
  .footer-container__contact-div{
    display:block;
  }
  .footer-container__policy-link{
    font-size:15px;
  }
  .footer-container__connect-link{
    display:grid !important;
  }
  .footer-container__connect-link span{
    display:none;
  }
  .verticle-line{
    margin: .2rem 12px 0;
  }
}