.banner{
  margin-top:5.8rem;
  padding: 2rem 6rem;
  background:linear-gradient(90deg, rgba(34, 142, 188,1.0) 1.53%, rgba(49, 168, 214,1.0) 48.34%, rgba(19, 154, 159, 1.0) 101.83%);
}
.banner__main-container{
  display:flex;
}

.banner__heading-div{
  max-width:42%;
/*   color:white; */
}

.banner__heading-div h1{
  font-size:55px;
  color:white;
}

.banner__heading-div p{
  margin-bottom:1.5rem;
  color:white;
}

.banner__img-container{
  max-width:100%;
}

.banner__img-container img{
  width:95%;
/*   padding-top:60px; */
}

.banner__email form{
  position:relative;
  font-size:18px;
/*   margin-bottom: -120px; */
}

.banner__email form .hs-button, form input[type=submit]{
  font-size: 18px !important;
  padding: 12px 15px !important;
  border-radius: 8px !important;
  position:absolute;
  top:0;
  right:0;
  background-color:white;
  color: #228EBC; 
}

form input[type="email"]{
  height:46px;
  border-radius: 8px;
  outline:none;
  padding-right: 8rem;
  background-color:transparent;
}

/*              Media Query     */

@media(max-width: 1024px) {
  .banner{
    padding:2rem 3rem;
    margin-top:5rem;
  }
  .banner__img-container img{
    padding-top:1.5rem;
  }
  .banner__heading-div h1{
    font-size: 46px;
  }
  .banner__heading-div p{
    font-size: 20px;
  }
  .banner__email form .hs-button, form input[type=submit]{
    font-size:.7rem !important;
    margin-left:.5rem;
    right:75px;
    padding: 14px 15px!important;
  }
  .banner__email form input[type="email"]{
    font-size:.7rem;
    padding-right: 3rem !important;
    width:10rem;
  }
}
@media screen and (max-width: 768px) {
  .banner{
    padding:2rem 2rem 0 2rem;
  }
  .banner__main-container{
    display:block;
  }
  .banner__heading-div{
    max-width:none;
  }
  .banner__email form input[type=email]{
    width:94%;
  }
  .banner__email form .hs-button, form input[type=submit]{
    right:37px;
  }
}

@media screen and (max-width: 426px) {
  .banner{
    padding:2rem 1rem 0;
  }
  .banner__heading-div h1{
    font-size:40px;
  }
  .banner__heading-div p{
    font-size:16px;
  }
}