<div class="banner">
  <div class="banner__main-container">    
    {% if module.banner.banner_heading_text_appear %}
      <div class="banner__heading-div">
        <h1>
          {{ module.banner.banner_heading_text.heading }}
        </h1>
        <p>
          {{ module.banner.banner_heading_text.banner_text }}
        </p>
        <div class="banner__email">       
            {% form
              form_to_use="{{ module.banner.email.form_id }}"
              response_response_type="{{ module.banner.email.response_type }}"
              response_message="{{ module.banner.email.message }}"
              response_redirect_id="{{ module.banner.email.redirect_id }}"
              response_redirect_url="{{module.banner.email.redirect_url}}"
              gotowebinar_webinar_key="{{ module.banner.email.gotowebinar_webinar_key }}"
            %}
         </div>
      </div>
    {% endif %}
    {% if module.banner.banner_img_appear %}
      <div class="banner__img-container">
        <img src="{{ module.banner.banner_image.src }}" alt="banner img">
      </div>
    {% endif %}
</div>